<% include ../partials/header %>
<% include ../partials/menu %>
<div class="container">
	<br>
	<div class="row">
		<div class="col-4">
			<div class="card">
				<!-- TODO: Modify the ejs code below, to conditionally set the image_src to be from our chosen player -->
				<%
				  var image_src = '../resources/img/helmet.jpg';

				  %>
				<img class="card-img-top" id="player_img" src="<%- image_src %>" alt="Image of Football Player">
				<div class="card-body mx-auto">
					<form class="form" action="/player_info/post" method="get">
						<select class="custom-select" name="player_choice" onchange="this.form.submit()">
							<option selected>Select Player</option>>
							<% players.forEach(player => { %>
							<option onclick="switchPlayer(player.name)" class="dropdown-item"><%= player.name %>
							</option>
							<% }) %>
						</select>
					</form>
				</div>
			</div>
		</div>
		<div class="col-8">
			<div class="table-responsive">
				<table class="table">
					<tr>
						<!-- TODO: Set Player Information
							 			If a player has been selected, fill in their information in each of the fields below.
							 		    You'll need to calculate here the player's average rushing, receiving, and passing yards.-->
					<th>Year</th>
						<td><%= Year %> </td>
					</tr>
					<tr>
						<th>Major</th>
						<td><%= Major %> </td>
					</tr>
					<tr>
						<th>Games Played</th>
						<td><%= Games_Played %> </td>
					</tr>
					<tr>
						<td>Passing Yards: <%= Passing_Yards %></td>
						<td>Avg. Passing Yards: <%= Avg_Passing_Yards.toFixed(1) %></td>
					</tr>
					<tr>
						<td>Rushing Yards: <%= Rushing_Yards %></td>
						<td>Avg. Rushing Yards: <%= Avg_Rushing_Yards.toFixed(1) %></td>
					</tr>
					<tr>
						<td>Receiving Yards: <%= Receiving_Yards %></td>
						<td>Avg. Receiving Yards: <%= Avg_Receiving_Yards.toFixed(1) %></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>

<% include ../partials/footer %>
